<ion-header>
  <ion-toolbar text-center color="medium">
      <ion-title>NightOwl</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Go Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content margins padding  style="text-align:center;">
 <div width="full" height="5%;">
  <img src="/assets/img/nighttime.jpg">
  <h3>Everything you need to know about NightOwl</h3>
  </div>
      <ion-card>
          <ion-item>
              <ion-label>What is NightOwl</ion-label>
            </ion-item>
          
            <ion-card-content>
              NightOwl is a monitoring system. It uses a motion detection camera and a partner app for you to control the camera
              wirelessly and add or delete a log entry.
            </ion-card-content>
           </ion-card>
           <ion-card>
              <ion-item>
                  <ion-label>Why you're using NightOwl</ion-label>
                </ion-item>
                <ion-card-content>
                  NightOwl allows you to record videos using a night vision camera. This means that your video footage can be seen clearly
                  despite being in darkness. It will monitor and record a short video when it detects a movement. You may have several uses for NightOwl
                  or just one, whatever your needs are, rest easy knowing that NightOwl will help you monitor and track your movements while asleep. 
                </ion-card-content>
               </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Logging in to your app</ion-label>
        </ion-item>
      
        <ion-card-content>
          These are the details you have been issued with. Raspberry Pi name is the name of your camera device. The IP 
          address is the address of your home network. This can be found on your wireless router.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Turning on your device</ion-label>
        </ion-item>
      
        <ion-card-content>
          When you choose to turn your camera device on, you will have 10 seconds before motion is detected. 
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Turning your device off</ion-label>
        </ion-item>
      
        <ion-card-content>
          Turning off your device will terminate the recording and stop motion detection immediately.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Your Log entry</ion-label>
        </ion-item>
      
        <ion-card-content>
          Your log contains the date and time any motions were detected previously. You can also add a new log entry that may not have been
          caught on camera.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Adding a log </ion-label>
        </ion-item>
      
        <ion-card-content>
          You can add an entry to your log. Simply click on the 'add log' option from your log page and follow the format instructions
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-item>
            <ion-label>Deleting a log </ion-label>
          </ion-item>
          <ion-card-content>
            Just as quickly as you add a log, you can delete one. To Delete a log follow the format instructions on the 'Delete Log' page
          </ion-card-content>
        </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Help & Contact </ion-label>
        </ion-item>
      
        <ion-card-content>
          If you experience any problems with the software or hardware, please contact the project author by email. 
           Contact:  scoulter10@qub.ac.uk
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-item>
            <ion-label>Opting Out</ion-label>
          </ion-item>
        
          <ion-card-content>
            If you wish to opt out of using NightOwl, please contact the project author using the email address above. Your log details
            and Raspberry Pi credentials will be deleted on request.
          </ion-card-content>
        </ion-card>
    
     
</ion-content>
<ion-footer>
  <ion-toolbar color="medium">
  </ion-toolbar>
</ion-footer>