<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
          <ion-button (click)="goProfile()">Back to Profile</ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
        <ion-button (click)="goAdd()" slot="primary">Go to Add/Delete Log</ion-button>
      </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="list-content" text-center>
    <h3>Your log of movements</h3>
    <h2><strong> Date & Time </strong></h2>
    <ion-list width="150px" padding margin text-center>
        <ion-item text-center *ngFor="let item of items" >
            <ion-label>{{item.date_time}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="medium">

  </ion-toolbar>
</ion-footer>
