<ion-header>
  <ion-toolbar text-center color="medium">
    <ion-title>NightOwl</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content margins padding text-center style="text-align:center;">
      <div width="full" > 
            <img src="/assets/img/nighttime.jpg"/> 
          
         
          <h3>Welcome to your profile!</h3>
          <ion-icon name="person" size="large"></ion-icon>
        
          <ion-list>

                <ion-radio-group
                allow-empty-selection = "true"
                name="radio-group"><ion-list-header>Control your monitor</ion-list-header>
                <ion-item><ion-radio slot="end" type="submit" name="state_value" (click)="presentConfirm()">button</ion-radio><ion-label>Turn On</ion-label></ion-item>
                <ion-item><ion-radio slot="end" type="submit" name="state_value" (click)="piOff()">button</ion-radio><ion-label>Turn Off</ion-label></ion-item>
                </ion-radio-group>
                <ion-item type="submit" (click)="goInfo()">Learn more about your device</ion-item>
                <ion-item type="submit" (click)="goLog()" >View your Log</ion-item>
                <ion-item type="submit" (click)="addLog()">Add or Delete a Log Entry</ion-item>
                <ion-item type="submit" (click)="goVideo()" >View your Video Feed</ion-item>
                <ion-item type="submit" (click)="logOut()">Log Out</ion-item>

          </ion-list>  
      </div>
    </ion-content>
  
<ion-footer>
  <ion-toolbar color="medium">
  </ion-toolbar>
</ion-footer>
